[ng\:cloak],[ng-cloak],[data-ng-cloak],.ng-cloak{display:none !important}

body {
    font: 14px Arial;
    margin: 0;
}

.float-right {
    float: right;
}

.screen-reader-hidden {
    position: fixed;
    left: -1000px;
    top: -1000px;
}

.widget-header {
    background-color: transparent !important;
    border: none !important;
}

#widget-title {
    text-align: center;
}

#loading-modal {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#loading-modal p {
    display: table-cell;
    vertical-align: middle;
}

#loading-modal svg {
    width: 50px;
    height: 50px;
    overflow: hidden;
    transform-origin: bottom right;
    animation: rotating 1s linear infinite;
    margin-right: 50px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


input[type="radio"]+label {
    position: relative;
    top: 1px;
    border-radius: 5px;
    padding: 6px 25px;
    background-color: lightgray;
    border-bottom: 2px solid darkgray;
    border-right: 2px solid darkgray;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray;
    white-space: nowrap;
    line-height: 40px;
}

input[type="radio"]:checked+label{ 
    background-color: ghostwhite;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-left: 2px solid #FBFBFF;
    border-top: 2px solid #FBFBFF;
    opacity: 1;
}

input[type="radio"]+label.mousedown{
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-left: 2px solid darkgray;
    border-top: 2px solid darkgray; 
}

input[type="radio"]:checked+label.mousedown{
    border-bottom: 2px solid #FBFBFF;
    border-right: 2px solid #FBFBFF;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray; 
}

input {
    display: none;
}

select {
    -webkit-appearance: textfield !important;
    border-radius: 5px;
    padding: 6px 25px;
    font: 14px Arial; 
    background-color: ghostwhite;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-left: 2px solid #FBFBFF;
    border-top: 2px solid #FBFBFF;
}

.map-container {
    position: relative;
    height: 275px;
}

.colon {
    display: none;
}

.hoverinfo {
    text-align: left;
    border: 1px solid black !important;
    box-shadow: none !important;
}

.hoverinfo h3 {
    margin: 2px 0px;
    color: crimson;
}

.hoverinfo p {
    margin-top: 4px;
}

.hoverinfo p:nth-child(3) {
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 10px;
}

.popup-filtered-rate {
    margin-bottom: 2px;
    padding-top: 4px;
    border-top: 1px solid black;
}
    
#map-controls {
    text-align: center;
}

#map-controls div {
    display: inline-block;
    padding: 10px 0px;
}

#map-controls select {
    margin-left: 40px;
}

#us-map-territories {
    margin-top: 10px;
}

#territories-label {
    float: left;    
    margin-left: 15px;
}

.territory-box {
    display: inline-block;
    width: 25px;
    height: 20px;
    border-radius: 3px;
}

.territory-label {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    margin-left: 5px;
}

.accessibility-table-title {
    display: inline-block;
    max-width: 90%;
}

.accessibility-table-wrapper {
    margin: 15px;
}

.accessibility-table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid gray;
    padding: 5px;
}

.accessibility-table-header {
    text-align: left;
    font-size: large;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
}

.accessibility-table td {
    border-top: 1px solid gray;
}

th {
    cursor: pointer;
}

.accessibility-table-header-th {
    padding-bottom: 15px;
    cursor: initial;
}

.angle {
    opacity: 0;
}

.angle:before {
    content: "\21E9";
}

.angle.up:before {
    content: "\21E7";
}

.header-highlight {
    background-color: darkgray;
}

.header-highlight .angle {
    opacity: 1;
}

#us-map-legend, #us-map-section, #state-map-legend, #state-map-section {
    display: inline-block;
    vertical-align: top;
}

#us-map-legend, #state-map-legend {
    width: 25%;
}

.quartile-label {
    border-top: 1px solid black;
    padding-top: 10px;
    margin-bottom: 10px;
}

.legend-color {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border: 1px solid gray;
}

.legend-value {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

#us-map-section, #state-map-section {
    width: 75%;
    text-align: center;
}

#us-section {
    border-bottom: 1px solid black;
}

#state-section {
    margin-top: 10px;
}

#footer-section {
    text-align: center;
}

@media (max-width: 550px){
    #map-controls select {
        margin-left: 0;
    }
    
    #us-map-legend, #state-map-legend {
        display: block;
        width: 100%;
    }
    
    #us-map-section, #state-map-section {
        display: block;
        width: 100%;
    }
}
 
.cdc-share, .cdc-info {
    border-radius: 0 !important;
}