[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

body {
    font: 14px Arial;
    margin: 0;
}

#loading-modal {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#loading-modal p {
    display: table-cell;
    vertical-align: middle;
}

#loading-modal svg {
    width: 50px;
    height: 50px;
    transform-origin: bottom right;
    animation: rotating 1s linear infinite;
    margin-right: 50px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


label {
    position: relative;
    top: 1px;
    border-radius: 5px;
    background-color: ghostwhite;
    padding: 6px 25px;
}

input[type="radio"]:checked+label{ 
    background-color: lightgray;
}

input {
    display: none;
}

select {
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px 25px;
}

.map-container {
    position: relative;
    height: 275px;
}

.colon {
    display: none;
}

.hoverinfo {
    text-align: left;
}

.hoverinfo h3 {
    margin: 2px 0px;
    color: crimson;
}

.hoverinfo p {
    margin-top: 4px;
}

.hoverinfo p:nth-child(2) {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.popup-filtered-rate {
    margin-bottom: 2px;
    padding-top: 4px;
    border-top: 1px solid black;
}
    
#us-map-controls {
    text-align: center;
}

#us-map-controls div {
    display: inline-block;
    padding: 10px 0px;
}

#us-map-controls select {
    margin-left: 40px;
}

#us-map-legend p:first-child, #state-map-legend p:first-child {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#us-map-legend p:nth-child(2) {
    margin-top: 0;
}

#us-map-legend, #us-map-section, #state-map-legend, #state-map-section {
    display: inline-block;
    vertical-align: top;
}

#us-map-legend, #state-map-legend {
    width: 25%;
}

#us-map-section, #state-map-section {
    width: 75%;
    text-align: center;
}

#us-section {
    border-bottom: 1px solid black;
}

#state-section {
    margin-top: 10px;
}

#footer-section {
    text-align: center;
}

@media (max-width: 400px){
    label {
        display: block;
        margin: 5px 0px;
    }
    
    #us-map-controls select {
        margin-left: 0;
    }
    
    #us-map-legend, #state-map-legend {
        display: block;
        width: 100%;
    }
    
    #us-map-section, #state-map-section {
        display: block;
        width: 100%;
    }
}
 