<!doctype html>
<html lang="en">
    <head>
        <title>County Maps Prototype</title>
        <link rel="stylesheet" href="css/countymaps.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta charset="windows-1252">
        <style id="style"></style>
    </head>
    <body id="body" class="widget-responsive" data-ng-controller="mainCtrl">
        <link rel="stylesheet" href="/TemplatePackage/contrib/widgets/tp-widget-common.css" />
        <div id="tp-widget-share-modal" class="cdc-share-code" style="display: none;">
            <div class="share-exit" onclick="window.cdcCommon.events.shareClose()">X</div>
            Copy and paste the code below:
            <textarea id="tp-widget-share-code"></textarea><br />
        </div>
        <div id="tp-widget-info-modal" class="cdc-info-modal" style="display: none;">
            <div class="info-exit" onclick="window.cdcCommon.events.infoClose()">X</div>
            <div class='rid_942249fa_131961' data-apiroot='//tools.cdc.gov/api' data-mediatype='html' data-mediaid='131961' data-stripscripts='false' data-stripanchors='false' data-stripimages='false' data-stripcomments='false' data-stripstyles='false' data-imagefloat='' data-cssclasses='' data-ids='' data-xpath='' data-oe='' data-of='' data-ns='' data-postprocess='' data-nw='false'></div><script src='//tools.cdc.gov/api/embed/html/js/embed-2.0.2.js' ></script><noscript>You need javascript enabled to view this content or go to <a href='//tools.cdc.gov/api/v2/resources/media/131961/noscript'>source URL</a>.</noscript>
            <br />
            <div class="info-close-wrap"><div class="info-close" onclick="window.cdcCommon.events.infoClose()">Close</div>
            </div></div>
        <div class="widget-header">
            <img class="cdc-logo" src="img/cdc_badge.png" alt="CDC Logo" height="45" usemap="#hhsCdcLogoMap" />
            <map name="hhsCdcLogoMap">
                <area alt="Visit www.hhs.gov" title="www.hhs.gov" href="http://www.hhs.gov/" shape="rect" coords="0,0,50,59" target="_blank" onclick="window.cdcCommon.events.logoClick()">
                <area alt="Visit www.cdc.gov" title="www.cdc.gov" href="http://www.cdc.gov/" shape="rect" coords="51,0,100,59" target="_blank" onclick="window.cdcCommon.events.logoClick()">
            </map>
            <div class="cdc-share" onclick="window.cdcCommon.events.shareOpen()">Add to your site</div>
            <div class="cdc-info" onclick="window.cdcCommon.events.infoOpen()">i</div>
        </div>

        
        <div data-ng-hide="!error" data-ng-cloak>
            <p>Error loading instance, please check name and try again</p>
        </div>
        <div data-ng-hide="error">
            <h2 id="widget-title" data-ng-cloak>{{instance.datasets[instance.currentInputs.datasetName].title}}</h2>
            <div id="map-controls">
                <div class="select-unit">
                    <span class="select-label">State:</span>
                    <div class="select-wrapper state-select-wrapper">
                        <select id="state-select" data-ng-model="instance.currentInputs.state" data-ng-change="updateData()">
                            <option value="Alaska">AK</option>
                            <option value="Alabama">AL</option>
                            <option value="Arkansas">AR</option>
                            <option value="Arizona">AZ</option>
                            <option value="California">CA</option>
                            <option value="Colorado">CO</option>
                            <option value="Connecticut">CT</option>
                            <option value="Delaware">DE</option>
                            <option value="Florida">FL</option>
                            <option value="Georgia">GA</option>
                            <option value="Hawaii">HI</option>
                            <option value="Iowa">IA</option>
                            <option value="Idaho">ID</option>
                            <option value="Illinois">IL</option>
                            <option value="Indiana">IN</option>
                            <option value="Kansas">KS</option>
                            <option value="Kentucky">KY</option>
                            <option value="Louisiana">LA</option>
                            <option value="Massachusetts">MA</option>
                            <option value="Maryland">MD</option>
                            <option value="Maine">ME</option>
                            <option value="Michigan">MI</option>
                            <option value="Minnesota">MN</option>
                            <option value="Missouri">MO</option>
                            <option value="Mississippi">MS</option>
                            <option value="Montana">MT</option>
                            <option value="North Carolina">NC</option>
                            <option value="North Dakota">ND</option>
                            <option value="Nebraska">NE</option>
                            <option value="New Hampshire">NH</option>
                            <option value="New Jersey">NJ</option>
                            <option value="New Mexico">NM</option>
                            <option value="Nevada">NV</option>
                            <option value="New York">NY</option>
                            <option value="Ohio">OH</option>
                            <option value="Oklahoma">OK</option>
                            <option value="Oregon">OR</option>
                            <option value="Pennsylvania">PA</option>
                            <option value="Rhode Island">RI</option>
                            <option value="South Carolina">SC</option>
                            <option value="South Dakota">SD</option>
                            <option value="Tennessee">TN</option>
                            <option value="Texas">TX</option>
                            <option value="Utah">UT</option>
                            <option value="Virginia">VA</option>
                            <option value="Virgin Islands">VI</option>
                            <option value="Vermont">VT</option>
                            <option value="Washington">WA</option>
                            <option value="Wisconsin">WI</option>
                            <option value="West Virginia">WV</option>
                            <option value="Wyoming">WY</option>
                        </select>
                        <div class="select-arrow">^</div>
                    </div>
                </div><div class="select-unit" data-ng-show="instance.currentValues.showSelector">
                    <span class="select-label">{{instance.datasets[instance.currentInputs.datasetName].dataInputLabel || 'Dataset:'}}</span> 
                    <div class="select-wrapper">
                        <select data-ng-model="instance.currentInputs.datasetName">
                            <option data-ng-repeat="(name, data) in instance.datasets" value="{{name}}">{{name}}</option>
                        </select>
                        <div class="select-arrow">^</div>
                    </div>
                </div><div class="filter-input select-unit" data-ng-repeat="(filter, data) in instance.filters">
                    <span class="select-label">{{filter}}:</span>
                    <div class="select-wrapper">
                        <select data-ng-model="instance.currentInputs.filters[filter]"  data-ng-change="updateData()" data-ng-cloak>
                            <option value="{{filterVal}}" data-ng-repeat="(filterVal, valueData) in data.values">{{filterVal}}</option>
                        </select>
                        <div class="select-arrow">^</div>
                    </div>
                </div>
            </div>
            <div id="state-section">
                <div id="state-map-section">
                    <p>Select/Hover Over a County to See the {{instance.datasets[instance.currentInputs.datasetName].dataLabel || 'Data'}}<p>
                    <div id="state-map-container" class="map-container"></div>
                    <div id="state-map-legend" data-ng-cloak>
                        <p>Total {{normalizeNumber(instance.currentValues.state)}} in {{instance.currentInputs.state}}</p>
                        <p data-ng-show="instance.currentValues.filterString.length > 0"><span>{{instance.currentValues.filterString}}</span>: {{instance.currentValues.stateFiltered}}</p>
                        <div class="legend-values">
                            <div class="quartile-label">
                                <span>Quartiles</span>
                            </div>
                            <div data-ng-repeat="row in instance.currentValues.countyLegend" data-ng-if="$last === false || instance.currentValues.countyLegend.length <= instance.datasets[instance.currentInputs.datasetName].colors.length" class="legend-color-container">
                                <span data-ng-style="{'background-color' : instance.datasets[instance.currentInputs.datasetName].colors[$index]}" class="legend-color"></span><span class="legend-value">{{row}} - {{instance.currentValues.countyLegend[$index + 1] || row}}</span>
                            </div>                        
                            <div class="legend-color-container">
                                <span style="background-color: rgb(225, 225, 225)" class="legend-color"></span><span class="legend-value">Insufficient Data</span>
                            </div>

                        </div>
                    </div>
                    <div class="accessibility-table-wrapper">
                        <div class="accessibility-table-header" data-ng-keyup="$event.keyCode == 13 ? dataTableToggle(false) : angular.noop()" data-ng-click="dataTableToggle(false)" tabindex="0"><span class="accessibility-table-title">Data Table</span> <span class="screen-reader-hidden">{{showStateTable ? 'Displayed' : 'Collapsed'}}</span><span class="float-right" aria-hidden="true">{{showCountyTable ? '-' : '+'}}</span><span class="screen-reader-hidden">{{showStateTable ? 'Hide'  : 'Show'}}</span></div>
                        <table class="accessibility-table" data-ng-show="showCountyTable" role="alert">
                            <thead>
                                <tr>
                                    <th class="accessibility-table-header-th" colspan="3">Select a County to See it on the Map Above</th>
                                </tr>
                                <tr>
                                    <th data-ng-click="sortBy('location', true)" data-ng-class="{'header-highlight': instance.currentInputs.countySortBy === 'location'}">County <span class="angle" data-ng-class="{up : instance.currentInputs.countyReverse}"></span></th>
                                    <th data-ng-click="sortBy('data', true)" data-ng-class="{'header-highlight': instance.currentInputs.countySortBy === 'data'}">Total <span class="angle" data-ng-class="{up : instance.currentInputs.countyReverse}"></span></th>
                                    <th data-ng-click="sortBy('dataFiltered', true)" data-ng-class="{'header-highlight': instance.currentInputs.countySortBy === 'dataFiltered'}" data-ng-show="instance.currentValues.filterString.length > 0" data-ng-cloak>{{instance.currentValues.filterString}} <span class="angle" data-ng-class="{up : instance.currentInputs.countyReverse}"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="(key, obj) in instance.currentValues.stateMapData | orderObjectBy : instance.currentInputs.countySortBy : instance.currentInputs.countyReverse"  data-ng-style="{'background-color': obj.fillColor}" data-ng-class="{'highlight': obj.location === instance.currentValues.currentHighlight}" data-ng-click="countyHighlight(obj)">
                                    <td data-ng-style="{'background-color': obj.fillColor}" class="table-location-name">{{obj.location}}</td>
                                    <td data-ng-style="{'background-color': obj.fillColor}">{{obj.data ? obj.data : 'Insufficient Data'}}</td>
                                    <td data-ng-style="{'background-color': obj.fillColor}" data-ng-show="instance.currentValues.filterString.length > 0">{{obj.dataFiltered ? obj.dataFiltered : 'Insufficient Data'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="us-section">
                <div id="us-map-section">
                    <p>Select/Hover Over a State to See the {{instance.datasets[instance.currentInputs.datasetName].dataLabel || 'Data'}}</p>
                    <div id="us-map-container" class="map-container"></div>
                    <div id="us-map-territories" data-ng-if="instance.currentValues.usMapData['GU'] || instance.currentValues.usMapData['PR'] || instance.currentValues.usMapData['VI']">
                        <span id="territories-label">Territories:</span> 
                        <span class="territory-box" data-ng-mouseout="territoryHover('GU', 'Guam', false)" data-ng-mouseover="territoryHover('GU', 'Guam', true)" data-ng-if="instance.currentValues.usMapData['GU']" data-ng-style="{'background-color': instance.currentValues.usMapData['GU'].fillColor || 'rgb(225, 225, 225)'}"></span><span class="territory-label" data-ng-if="instance.currentValues.usMapData['GU']">Guam</span>
                        <span class="territory-box" data-ng-mouseout="territoryHover('PR', 'Puerto Rico', false)" data-ng-mouseover="territoryHover('PR', 'Puerto Rico', true)" data-ng-if="instance.currentValues.usMapData['PR']" data-ng-style="{'background-color': instance.currentValues.usMapData['PR'].fillColor || 'rgb(225, 225, 225)'}"></span><span class="territory-label" data-ng-if="instance.currentValues.usMapData['PR']">Puerto Rico</span>
                        <span class="territory-box" data-ng-mouseout="territoryHover('VI', 'Virgin Islands', false)" data-ng-mouseover="territoryHover('VI', 'Virgin Islands', true)" data-ng-if="instance.currentValues.usMapData['VI']" data-ng-style="{'background-color': instance.currentValues.usMapData['VI'].fillColor || 'rgb(225, 225, 225)'}"></span><span class="territory-label" data-ng-if="instance.currentValues.usMapData['VI']">Virgin Islands</span>
                    </div>
                    <div id="us-map-legend" data-ng-cloak>
                        <p>Total {{normalizeNumber(instance.currentValues.us)}} in US</p>
                        <p data-ng-show="instance.currentValues.filterString.length > 0"><span>{{instance.currentValues.filterString}}</span>: {{instance.currentValues.usFiltered}}</p>
                        <div class="legend-values">
                            <div class="quartile-label">
                                <span>Quartiles</span>
                            </div>
                            <div data-ng-repeat="row in instance.currentValues.stateLegend" data-ng-if="$last === false" class="legend-color-container">
                                <span data-ng-style="{'background-color' : instance.datasets[instance.currentInputs.datasetName].colors[$index]}" class="legend-color"></span><span class="legend-value">{{row}} - {{instance.currentValues.stateLegend[$index + 1]}}</span>
                            </div>
                            <div class="legend-color-container">
                                <span style="background-color: rgb(225, 225, 225)" class="legend-color"></span><span class="legend-value">Insufficient Data</span>
                            </div>
                        </div>
                    </div>
                    <div class="accessibility-table-wrapper">
                        <div class="accessibility-table-header" data-ng-keyup="$event.keyCode == 13 ? dataTableToggle(true) : angular.noop()" data-ng-click="dataTableToggle(true)" tabindex="0"><span class="accessibility-table-title">Data Table</span><span class="screen-reader-hidden">{{showStateTable ? 'Displayed' : 'Collapsed'}}</span> <span class="float-right" aria-hidden="true">{{showStateTable ? '-' : '+'}}<span class="screen-reader-hidden">{{showStateTable ? 'Hide'  : 'Show'}}</span></span></div>
                        <table class="accessibility-table" data-ng-show="showStateTable" role="alert">
                            <thead>
                                <tr>
                                    <th class="accessibility-table-header-th" colspan="3">{{instance.datasets[instance.currentInputs.datasetName].stateLegendHeader || instance.currentInputs.datasetName}}, Total Population<span data-ng-show="instance.currentValues.filterString.length > 0"> and {{instance.currentValues.filterString}}</span></th>
                                </tr>
                                <tr>
                                    <th data-ng-click="sortBy('state', false)" data-ng-class="{'header-highlight': instance.currentInputs.stateSortBy === 'state'}">State <span class="angle" data-ng-class="{up : instance.currentInputs.stateReverse}"></span></th>
                                    <th data-ng-click="sortBy('data', false)" data-ng-class="{'header-highlight': instance.currentInputs.stateSortBy === 'data'}">Total <span class="angle" data-ng-class="{up : instance.currentInputs.stateReverse}"></span></th>
                                    <th data-ng-click="sortBy('dataFiltered', false)" data-ng-class="{'header-highlight': instance.currentInputs.stateSortBy === 'dataFiltered'}" data-ng-show="instance.currentValues.filterString.length > 0" data-ng-cloak>{{instance.currentValues.filterString}} <span class="angle" data-ng-class="{up : instance.currentInputs.stateReverse}"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="(key, obj) in instance.currentValues.usMapData | orderObjectBy : instance.currentInputs.stateSortBy : instance.currentInputs.stateReverse" data-ng-style="{'background-color': obj.fillColor}">
                                    <td data-ng-style="{'background-color': obj.fillColor}" class="table-location-name">{{obj.state}}</td>
                                    <td data-ng-style="{'background-color': obj.fillColor}">{{obj.data ? obj.data : 'Insufficient Data'}}</td>
                                    <td data-ng-style="{'background-color': obj.fillColor}" data-ng-show="instance.currentValues.filterString.length > 0">{{obj.dataFiltered ? obj.dataFiltered : 'Insufficient Data'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="footer-section" data-ng-cloak>
                <p class="footnote" data-ng-show="instance.datasets[instance.currentInputs.datasetName].footnote">{{instance.datasets[instance.currentInputs.datasetName].footnote}}</p>
                <p class="link-dataset" data-ng-repeat="footerLink in instance.datasets[instance.currentInputs.datasetName].footerLinks">
                    {{footerLink.label}}: <a target="_blank" data-ng-click="trackEvent('Link Click', footerLink.label)" data-ng-href="{{footerLink.url}}">{{footerLink.text}}</a>
                </p>
            </div>
            <span class="screen-reader-hidden" role="alert">{{instance.currentValues.accessibilityText}}</span>
        </div>

        <div id="loading-modal" data-ng-show="loading">
            <p><svg><circle cx="50" cy="50" r="45" fill="transparent" stroke="#000000" stroke-width="10px" /></svg></p>
        </div>

        <script src="/TemplatePackage/contrib/libs/angular/1.4.3/angular.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/angular/1.4.3/angular-route.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/d3.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/topojson.v1.min.js"></script>
        <script src="/TemplatePackage/contrib/widgets/tp-widget-common.js"></script>
        <script src="js/datamaps.all.customized.js"></script>
    </body>
</html>
