<!doctype html>
<html lang="en">
    <head>
        <title>County Maps Prototype</title>
        <link rel="stylesheet" href="css/countymaps.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta charset="windows-1252">
    </head>
    <body id="body" class="widget-responsive" data-ng-controller="mainCtrl">
        <link rel="stylesheet" href="/TemplatePackage/contrib/widgets/tp-widget-common.css" />
        <div id="tp-widget-share-modal" class="cdc-share-code" style="display: none;">
            <div class="share-exit" onclick="window.cdcCommon.events.shareClose()">X</div>
            Copy and paste the code below:
            <textarea id="tp-widget-share-code"></textarea><br />
        </div>
        <div id="tp-widget-info-modal" class="cdc-info-modal" style="display: none;">
            <div class="info-exit" onclick="window.cdcCommon.events.infoClose()">X</div>
            <div class='rid_942249fa_131961' data-apiroot='//tools.cdc.gov/api' data-mediatype='html' data-mediaid='131961' data-stripscripts='false' data-stripanchors='false' data-stripimages='false' data-stripcomments='false' data-stripstyles='false' data-imagefloat='' data-cssclasses='' data-ids='' data-xpath='' data-oe='' data-of='' data-ns='' data-postprocess='' data-nw='false'></div><script src='//tools.cdc.gov/api/embed/html/js/embed-2.0.2.js' ></script><noscript>You need javascript enabled to view this content or go to <a href='//tools.cdc.gov/api/v2/resources/media/131961/noscript'>source URL</a>.</noscript>
            <br />
            <div class="info-close-wrap"><div class="info-close" onclick="window.cdcCommon.events.infoClose()">Close</div>
            </div></div>
        <div class="widget-header">
            <div class="cdc-info" onclick="window.cdcCommon.events.infoOpen()">Info</div>
            <div class="cdc-share" onclick="window.cdcCommon.events.shareOpen()">Share</div>
        </div>
        
        <div data-ng-hide="!error" data-ng-cloak>
            <p>Error loading instance, please check name and try again</p>
        </div>
        <div data-ng-hide="error">
            <h2 id="widget-title" data-ng-cloak>{{instance.title}}</h2>
            <div id="us-section">
                <div id="us-map-controls">
                    <div data-ng-show="instance.currentValues.showSelector">
                        Select disease: 
                        <span data-ng-repeat="(name, data) in instance.data">
                            <input data-ng-model="instance.currentInputs.datasetName" id="dataset-input-{{$index}}" type="radio" name="datasetName" value="{{name}}" data-ng-checked="$first"  data-ng-change="updateData()"><label for="dataset-input-{{$index}}" data-ng-class="{mousedown: mousedown}" data-ng-mousedown="mousedown = true" data-ng-mouseup="mousedown = false" tabindex="0" data-ng-cloak>{{name}}</label>
                        </span>
                    </div>
                    <div>
                        <select data-ng-repeat="(filter, data) in instance.filters" data-ng-model="instance.currentInputs.filters[filter]"  data-ng-change="updateData()" data-ng-cloak>
                            <option value="{{filterVal}}" data-ng-repeat="(filterVal, valueData) in data.values">{{filterVal}}</option>
                        </select>
                    </div>
                </div>
                <div id="us-map-legend" data-ng-cloak>
                    <p>{{instance.datasets[instance.currentInputs.disease].stateLegendHeader || instance.currentInputs.datasetName}}<br>For All of US<br><br>Total US: {{instance.currentValues.us}}</p>
                    <p data-ng-show="instance.currentValues.filterString.length > 0"><span>{{instance.currentValues.filterString}}</span>: {{instance.currentValues.usFiltered}}</p>
                    <div class="legend-values">
                        <div>
                            <span style="background-color: rgb(225, 225, 225)" class="legend-color"></span><span class="legend-value">Insufficient Data</span>
                        </div>
                        <div data-ng-repeat="row in instance.currentValues.stateLegend" data-ng-if="$last === false">
                            <span data-ng-style="{'background-color' : instance.datasets[instance.currentInputs.datasetName].colors[$index]}" class="legend-color"></span><span class="legend-value">{{row}} - {{instance.currentValues.stateLegend[$index + 1]}}</span>
                        </div>
                    </div>
                </div><div id="us-map-section">
                    <p>Select/Hover Over a State to See the Data</p>
                    <div id="us-map-container" class="map-container"></div>
                    <div id="us-map-territories" data-ng-if="instance.currentValues.usMapData['GU'] || instance.currentValues.usMapData['PR'] || instance.currentValues.usMapData['VI']">
                        <span id="territories-label">Territories:</span> 
                        <span class="territory-box" data-ng-mouseout="territoryHover('GU', 'Guam', false)" data-ng-mouseover="territoryHover('GU', 'Guam', true)" data-ng-if="instance.currentValues.usMapData['GU']" data-ng-style="{'background-color': instance.currentValues.usMapData['GU'].fillColor || 'rgb(225, 225, 225)'}"></span><span class="territory-label" data-ng-if="instance.currentValues.usMapData['GU']">Guam</span>
                        <span class="territory-box" data-ng-mouseout="territoryHover('PR', 'Puerto Rico', false)" data-ng-mouseover="territoryHover('PR', 'Puerto Rico', true)" data-ng-if="instance.currentValues.usMapData['PR']" data-ng-style="{'background-color': instance.currentValues.usMapData['PR'].fillColor || 'rgb(225, 225, 225)'}"></span><span class="territory-label" data-ng-if="instance.currentValues.usMapData['PR']">Puerto Rico</span>
                        <span class="territory-box" data-ng-mouseout="territoryHover('VI', 'Virgin Islands', false)" data-ng-mouseover="territoryHover('VI', 'Virgin Islands', true)" data-ng-if="instance.currentValues.usMapData['VI']" data-ng-style="{'background-color': instance.currentValues.usMapData['VI'].fillColor || 'rgb(225, 225, 225)'}"></span><span class="territory-label" data-ng-if="instance.currentValues.usMapData['VI']">Virgin Islands</span>
                    </div>
                    <div class="accessibility-table-wrapper">
                        <div class="accessibility-table-header" data-ng-keyup="$event.keyCode == 13 ? showStateTable = !showStateTable : null" data-ng-click="showStateTable = !showStateTable" tabindex="0">Data Table <span class="float-right" aria-hidden="true">{{showStateTable ? '-' : '+'}}<span class="screen-reader-hidden">{{showStateTable ? 'Hide'  : 'Show'}}</span></span></div>
                        <table class="accessibility-table" data-ng-show="showStateTable" role="alert">
                            <thead>
                                <tr>
                                    <th>State</th>
                                    <th>Total</th>
                                    <th data-ng-show="instance.currentValues.filterString.length > 0" data-ng-cloak>{{instance.currentValues.filterString}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="state in alphabetizedStates" data-ng-if="instance.currentValues.usMapData[state]">
                                    <td>{{state}}</td>
                                    <td>{{instance.currentValues.usMapData[state].data ? instance.currentValues.usMapData[state].data : 'Insufficient Data'}}</td>
                                    <td data-ng-show="instance.currentValues.filterString.length > 0">{{instance.currentValues.usMapData[state].dataFiltered ? instance.currentValues.usMapData[state].dataFiltered : 'Insufficient Data'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="state-section">
                <select id="state-select" data-ng-model="instance.currentInputs.state" data-ng-change="updateData()">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select><br>
                <div id="state-map-legend" data-ng-cloak>
                    <p>{{instance.datasets[instance.currentInputs.datasetName].countyLegendHeader || instance.currentInputs.datasetName}}<br>For {{instance.currentInputs.state}}<br><br>Total {{instance.currentInputs.state}}: {{instance.currentValues.state}}</p>
                    <p data-ng-show="instance.currentValues.filterString.length > 0"><span>{{instance.currentValues.filterString}}</span>: {{instance.currentValues.stateFiltered}}</p>
                    <div class="legend-values">
                        <div>
                            <span style="background-color: rgb(225, 225, 225)" class="legend-color"></span><span class="legend-value">Insufficient Data</span>
                        </div>
                        <div data-ng-repeat="row in instance.currentValues.countyLegend" data-ng-if="$last === false || instance.currentValues.countyLegend.length <= instance.datasets[instance.currentInputs.datasetName].colors.length">
                            <span data-ng-style="{'background-color' : instance.datasets[instance.currentInputs.datasetName].colors[$index]}" class="legend-color"></span><span class="legend-value">{{row}} - {{instance.currentValues.countyLegend[$index + 1] || row}}</span>
                        </div>
                    </div>
                </div><div id="state-map-section">
                    <p>Select/Hover Over a County to See the Data<p>
                    <div id="state-map-container" class="map-container"></div>
                    <div class="accessibility-table-wrapper">
                        <div class="accessibility-table-header" data-ng-keyup="$event.keyCode == 13 ? showCountyTable = !showCountyTable : null" data-ng-click="showCountyTable = !showCountyTable" tabindex="0">Data Table <span class="float-right" aria-hidden="true">{{showCountyTable ? '-' : '+'}}</span><span class="screen-reader-hidden">{{showStateTable ? 'Hide'  : 'Show'}}</span></div>
                        <table class="accessibility-table" data-ng-show="showCountyTable" role="alert">
                            <thead>
                                <tr>
                                    <th>County</th>
                                    <th>Total</th>
                                    <th data-ng-show="instance.currentValues.filterString.length > 0" data-ng-cloak>{{instance.currentValues.filterString}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="(county, data) in instance.currentValues.stateMapData">
                                    <td>{{county}}</td>
                                    <td>{{data.data ? data.data : 'Insufficient Data'}}</td>
                                    <td data-ng-show="instance.currentValues.filterString.length > 0">{{data.dataFiltered ? data.dataFiltered : 'Insufficient Data'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="footer-section" data-ng-cloak>
                <p class="footnote" data-ng-show="instance.datasets[instance.currentInputs.datasetName].footnote">{{instance.datasets[instance.currentInputs.datasetName].footnote}}</p>
                <p class="link-dataset" data-ng-show="instance.datasets[instance.currentInputs.datasetName].sourceLink && instance.datasets[instance.currentInputs.datasetName].sourceName">Source: <a target="_blank" onclick="window.cdcCommon.metrics.trackEvent('Source Link Click')" data-ng-href="{{instance.datasets[instance.currentInputs.datasetName].sourceLink}}">{{instance.datasets[instance.currentInputs.datasetName].sourceName}}</a></p>
                <p class="link-dataset" data-ng-show="instance.datasets[instance.currentInputs.datasetName].moreInformationLabel && instance.datasets[instance.currentInputs.datasetName].moreInformationLink">{{instance.datasets[instance.currentInputs.datasetName].moreInformationLabel}}: <a target="_blank" onclick="window.cdcCommon.metrics.trackEvent('More Info Link Click')" data-ng-href="{{instance.datasets[instance.currentInputs.datasetName].moreInformationLink}}">{{instance.datasets[instance.currentInputs.datasetName].moreInformationName}}</a></p>
                <p class="link-dataset" data-ng-show="instance.datasets[instance.currentInputs.datasetName].dataSourceLink">Download Data: <a target="_blank" onclick="window.cdcCommon.metrics.trackEvent('Data Download Link Click')" data-ng-href="{{instance.datasets[instance.currentInputs.datasetName].dataSourceLink}}">{{instance.datasets[instance.currentInputs.datasetName].dataSourceLink}}</a></p>
                <img src="/TemplatePackage/contrib/widgets/images/cdc_badge.png" alt="CDC Logo" height="59" usemap="#hhsCdcLogoMap" />
                <map name="hhsCdcLogoMap">
                    <area alt="Visit www.hhs.gov" title="www.hhs.gov" href="http://www.hhs.gov/" shape="rect" coords="0,0,50,59" target="_blank" onclick="window.cdcCommon.events.logoClick()">
                    <area alt="Visit www.cdc.gov" title="www.cdc.gov" href="http://www.cdc.gov/" shape="rect" coords="51,0,100,59" target="_blank" onclick="window.cdcCommon.events.logoClick()">
                </map>
            </div>
            <span class="screen-reader-hidden" role="alert">{{instance.currentValues.accessibilityText}}</span>
        </div>

        <div id="loading-modal" data-ng-show="loading">
            <p><svg><circle cx="50" cy="50" r="45" fill="transparent" stroke="#000000" stroke-width="10px" /></svg></p>
        </div>

        <!--<script src="/TemplatePackage/contrib/libs/angular/1.4.3/angular.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="/TemplatePackage/contrib/libs/angular/1.4.3/angular-route.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/d3.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/topojson.v1.min.js"></script>
        <script src="/TemplatePackage/contrib/widgets/tp-widget-common.js"></script>
        <script src="js/datamaps.all.customized.js"></script>
    </body>
</html>