<!doctype html>
<html>
    <head>
        <title>County Maps Prototype</title>
        <link rel="stylesheet" href="css/countymaps.css"/>
    </head>
    <body id="body" class="widget-responsive" data-ng-controller="mainCtrl">
        <!--Replace with SSI below-->
        <link rel="stylesheet" href="/TemplatePackage/contrib/widgets/tp-widget-common.css" />
        <div id="tp-widget-share-modal" class="cdc-share-code" style="display: none;">
            <div class="share-exit" onclick="cdcCommon.events.shareClose()">X</div>
            Copy and paste the code below:
            <textarea id="tp-widget-share-code"></textarea><br />
        </div>
        <div id="tp-widget-info-modal" class="cdc-info-modal" style="display: none;">
            <div class="info-exit" onclick="cdcCommon.events.infoClose()">X</div>
            <div class='rid_942249fa_131961' data-apiroot='//tools.cdc.gov/api' data-mediatype='html' data-mediaid='131961' data-stripscripts='false' data-stripanchors='false' data-stripimages='false' data-stripcomments='false' data-stripstyles='false' data-imagefloat='' data-cssclasses='' data-ids='' data-xpath='' data-oe='' data-of='' data-ns='' data-postprocess='' data-nw='false'></div><script src='//tools.cdc.gov/api/embed/html/js/embed-2.0.2.js' ></script><noscript>You need javascript enabled to view this content or go to <a href='//tools.cdc.gov/api/v2/resources/media/131961/noscript'>source URL</a>.</noscript>
            <br />
            <div class="info-close-wrap"><div class="info-close" onclick="cdcCommon.events.infoClose()">Close</div>
            </div></div>
        <div class="widget-header">
            <a class="cdc-link" href="http://www.cdc.gov" target="_blank" onclick="cdcCommon.events.logoClick()"><img src="/TemplatePackage/contrib/widgets/images/cdc_badge.png" alt="CDC Logo" height="75px" /></a>
            <div class="cdc-info" onclick="cdcCommon.events.infoOpen()">Info</div>
            <div class="cdc-share" onclick="cdcCommon.events.shareOpen()">Share</div>
        </div>
        <!--include file="/TemplatePackage/contrib/widgets/includes/branding-cdc-header.html" -->
        <div data-ng-hide="!error" data-ng-cloak>
            <p>Error loading instance, please check name and try again</p>
        </div>
        <div data-ng-hide="error">
            <h2 ng-cloak>{{instance.title}}</h2>
            <div id="us-section">
                <div id="us-map-controls">
                    <div>
                        <span data-ng-repeat="(name, data) in instance.data">
                            <input data-ng-model="instance.currentInputs.disease" id="dataset-input-{{$index}}" type="radio" name="disease" value="{{name}}" data-ng-checked="$first"  data-ng-change="updateData()"><label for="dataset-input-{{$index}}">{{name}}</label>
                        </span>
                    </div>
                    <div>
                        <select data-ng-repeat="(filter, data) in instance.filters" data-ng-model="instance.currentInputs.filters[filter]"  data-ng-change="updateData()">
                            <option value="{{filterVal}}" data-ng-repeat="(filterVal, valueData) in data.values">{{filterVal}}</option>
                        </select>
                    </div>
                </div>
                <div id="us-map-legend">
                    <p>{{instance.currentInputs.disease}}<br>For all of US<br><br>Total: {{instance.currentValues.us}}</p>
                    <p><span data-ng-repeat="(filter, data) in instance.currentInputs.filters">{{data}}{{($last ? '' : ',')}} </span>: {{instance.currentValues.usFiltered}}</p>
                </div><div id="us-map-section">
                    <div id="us-map-container" class="map-container"></div>
                </div>
            </div>
            <div id="state-section">
                <select id="state-select" data-ng-model="instance.currentInputs.state" data-ng-change="updateData()">
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                </select><br>
                <div id="state-map-legend">
                    <p>{{instance.currentInputs.disease}}<br>For {{instance.currentInputs.state}}<br><br>Total: {{instance.currentValues.state}}</p>
                    <p><span data-ng-repeat="(filter, data) in instance.currentInputs.filters">{{data}}{{($last ? '' : ',')}} </span>: {{instance.currentValues.stateFiltered}}</p>
                </div><div id="state-map-section">
                    <div id="state-map-container" class="map-container"></div>
                </div>
            </div>
            <div id="footer-section">
                <p class="footnote" data-ng-show="instance.datasets[instance.currentInputs.disease].footnote">{{instance.datasets[instance.currentInputs.disease].footnote}}</p>
                <p class="link-dataset" data-ng-show="instance.datasets[instance.currentInputs.disease].sourceLink && instance.datasets[instance.currentInputs.disease].sourceName">Source: <a target="_blank" data-ng-href="{{instance.datasets[instance.currentInputs.disease].sourceLink}}">{{instance.datasets[instance.currentInputs.disease].sourceName}}</a></p>
                <p class="link-accessibility" data-ng-show="instance.datasets[instance.currentInputs.disease].accessibility"><a target="_blank" data-ng-href="{{instance.datasets[instance.currentInputs.disease].accessibility}}">Accessible Version</a></p>
            </div>
        </div>

        <div id="loading-modal" data-ng-show="loading">
            <p><svg><circle cx="50" cy="50" r="45" fill="transparent" stroke="#000000" stroke-width="10px" /></svg></p>
        </div>

        <!--<script src="/TemplatePackage/contrib/libs/angular/1.4.3/angular.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="/TemplatePackage/contrib/libs/angular/1.4.3/angular-route.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="/TemplatePackage/contrib/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/d3.min.js"></script>
        <script src="/TemplatePackage/3.0/js/libs/d3/topojson.v1.min.js"></script>
        <script src="/TemplatePackage/contrib/widgets/tp-widget-common.js"></script>
        <script src="js/datamaps.all.customized.js"></script>
    </body>
</html>